"*":
  Zen:
    fullscreen: false
    softWrap: true
  "autocomplete-plus":
    autoActivationDelay: 100
    maxVisibleSuggestions: 4
  "autocomplete-python":
    useKite: false
  "bracket-matcher":
    autocompleteBrackets: false
    highlightMatchingLineNumber: true
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    closeEmptyWindows: false
    destroyEmptyPanes: false
    disabledPackages: [
      "language-python"
      "minimap"
      "minimap-find-and-replace"
      "minimap-cursorline"
      "minimap-highlight-selected"
      "minimap-selection"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "Chromodynamics"
    ]
    uriHandlerRegistration: "always"
  editor:
    fontFamily: "roboto mono"
    fontSize: 13
    invisibles: {}
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "1bbd78be-de05-48d1-84d0-c680c93638fa"
  "linter-flake8":
    executablePath: "C:\\Python310\\Scripts\\flake8"
    maxLineLength: 120
  "linter-ui-default": {}
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "python-autopep8":
    maxLineLength: 120
  "split-diff":
    ignoreWhitespace: true
  welcome:
    showOnStartup: false
  "windows-context-menu":
    lastLaunchPath: "C:\\Users\\pld4\\AppData\\Local\\atom\\app-1.60.0\\atom.exe"
