"*":
  "atom-beautify":
    general:
      _analyticsUserId: "3b40a160-ac56-4452-a5f2-2b67a6ef4914"
    python:
      default_beautifier: "yapf"
      sort_imports: true
  "atom-runner":
    paneSplitDirection: "Down"
  core: {}
  editor:
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "810c0cf1-7dce-a262-15a9-53480b6f28cf"
  "linter-flake8":
    executablePath: "\"C:\\Python27\\Scripts\\flake8.exe\""
    ignoreErrorCodes: [
      "E501"
    ]
  welcome:
    showOnStartup: false
